<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header"></head>
<!-- https://cdnjs.com/libraries/sockjs-client -->

<body>
<div id="chat-container">
    <div class="chat-header">
        <div class="user-container">
            <span id="username" th:utext="${username}"></span>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>

    <hr/>

    <div id="connecting">Connecting...</div>
    <ul id="messageArea">
    </ul>
    <form id="messageForm" name="messageForm">
        <div class="input-message">
            <input type="file" id="chooseFile" ></input>
            <input type="text" id="message" autocomplete="off" placeholder="Type a message..."></input>
            <button type="submit">Send</button>
        </div>
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<!-- https://cdnjs.com/libraries/stomp.js/ -->
<script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="./webjars/org.webjars.npm/es6-promise/4.2.4/dist/es6-promise.min.js"></script>
<script src="./webjars/org.webjars.npm/es6-promise/4.2.4/dist/es6-promise.auto.min.js"></script>
<script src="./webjars/whatwg-fetch/2.0.3/fetch.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script th:src="@{../js/main.js}"></script>
</body>
</html>